In [2]:
import pandas as pd

data = {
    '縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df1 = pd.DataFrame(data)
display(df1)

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [4]:
#多個相同索引的Series, 可以組成一個DataFrame
display(df1['縣市'])
display(df1['年份'])
display(df1['人口'])

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [11]:
data = {
    '縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df2 = pd.DataFrame(data, columns=['縣市', '人口'])
df2

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [ ]:
data = {
    '縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df3 = pd.DataFrame(data, columns=['縣市', '人口'])
df3

In [15]:
data = {
    '縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df4 = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five', 'six'])
df4

       縣市    年份   人口
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
four   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [17]:
data = [
    {'縣市': '台北', '年份': 2000, '人口': 2.2},
    {'縣市': '台中', '年份': 2001, '人口': 1.1},
    {'縣市': '新竹', '年份': 2001, '人口': 1.5}
]

df5 = pd.DataFrame(data)
df5

   縣市    年份   人口    fghjf
0  台北  2000  2.2      NaN
1  台中  2001  1.1      NaN
2  新竹  2001  1.5  54748.0

In [24]:
#二維的ndArray
import numpy as np

data = np.random.randint(50, 101, size=(50, 5))
scores_df = pd.DataFrame(data, columns=['國文', '英文', '數學', '地理', '歷史'], index=range(1, 51))
scores_df

     國文   英文   數學  地理   歷史
1    93   53   59  96   98
2    89   81   51  78   54
3    56   71   91  89   68
4    57   81   85  71   94
5    70   64   83  91   77
6    77   61   63  51   61
7    89  100   51  98   78
8    91   50   75  92   79
9    82  100   78  72   58
10   60   64   96  85   80
11   74   69   94  62   56
12   63   91   50  91   92
13   95   75   51  82   81
14   76   70   87  54   68
15   81   56   97  71   80
16   50   94   80  56   97
17   78   75   64  64   62
18   78   76   91  97   93
19   97   94  100  50   81
20   52   81   69  81   55
21  100   63   68  80   92
22   94   76   98  84   67
23   87   57   60  65   78
24   72   52   84  77   68
25   55   80   94  84   98
26   62   54   75  55   75
27   73   87   68  86   63
28   82   85   76  95   97
29   74   56   51  83   60
30   68   68   80  86   55
31   77   79   67  56   51
32   69   50   72  56   52
33   72   79   93  76   99
34   70   57   93  57   58
35   50   63   88  99   55
36   63   77   79  63  100
37   78   58   97  61   57
38   52   52   62  54   68
39   71   82   85  93   71
40   65   92   57  73   90
41   71   93   84  74   62
42   97   77   63  59   68
43   78   69   62  70   73
44   67   77   79  95   81
45   66   63   55  92   50
46   56   80   84  75   56
47   60  100   62  66   60
48   97   68   96  66   86
49   82   59   94  58   77
50   89   60   74  93   92

In [39]:
total_series = scores_df['國文'] + scores_df['數學'] + scores_df['英文'] + scores_df['地理'] + scores_df['歷史']
# display(total_series)
# display(scores_df)

scores_df['總分'] = total_series
# display(scores_df)
scores_df['平均'] = total_series / 5.0
display(scores_df)

     國文   英文   數學  地理   歷史   總分    平均
1    93   53   59  96   98  399  79.8
2    89   81   51  78   54  353  70.6
3    56   71   91  89   68  375  75.0
4    57   81   85  71   94  388  77.6
5    70   64   83  91   77  385  77.0
6    77   61   63  51   61  313  62.6
7    89  100   51  98   78  416  83.2
8    91   50   75  92   79  387  77.4
9    82  100   78  72   58  390  78.0
10   60   64   96  85   80  385  77.0
11   74   69   94  62   56  355  71.0
12   63   91   50  91   92  387  77.4
13   95   75   51  82   81  384  76.8
14   76   70   87  54   68  355  71.0
15   81   56   97  71   80  385  77.0
16   50   94   80  56   97  377  75.4
17   78   75   64  64   62  343  68.6
18   78   76   91  97   93  435  87.0
19   97   94  100  50   81  422  84.4
20   52   81   69  81   55  338  67.6
21  100   63   68  80   92  403  80.6
22   94   76   98  84   67  419  83.8
23   87   57   60  65   78  347  69.4
24   72   52   84  77   68  353  70.6
25   55   80   94  84   98  411  82.2
26   62   54   75  55   75  321  64.2
27   73   87   68  86   63  377  75.4
28   82   85   76  95   97  435  87.0
29   74   56   51  83   60  324  64.8
30   68   68   80  86   55  357  71.4
31   77   79   67  56   51  330  66.0
32   69   50   72  56   52  299  59.8
33   72   79   93  76   99  419  83.8
34   70   57   93  57   58  335  67.0
35   50   63   88  99   55  355  71.0
36   63   77   79  63  100  382  76.4
37   78   58   97  61   57  351  70.2
38   52   52   62  54   68  288  57.6
39   71   82   85  93   71  402  80.4
40   65   92   57  73   90  377  75.4
41   71   93   84  74   62  384  76.8
42   97   77   63  59   68  364  72.8
43   78   69   62  70   73  352  70.4
44   67   77   79  95   81  399  79.8
45   66   63   55  92   50  326  65.2
46   56   80   84  75   56  351  70.2
47   60  100   62  66   60  348  69.6
48   97   68   96  66   86  413  82.6
49   82   59   94  58   77  370  74.0
50   89   60   74  93   92  408  81.6